<%- include('partials/header') %>

<div class="container-xl">
    <div class="jumbotron my-bg text-light">
     <h1><i class="fas fa-search"></i>Search your movie here!!</h1>
     <p>Enter the title of movie you like to search 
     </p>
    </div>
    
    <div id="form">
    <form action="/results" method="GET">
      <div class="form-group">
       <input class="form-control" type="text" placeholder="enter movie name" name="search">
      </div>
       <input class="btn btn-primary btn-block" type="submit">
    </form>
    </div>
   </div>
<%- include('partials/footer') %>